@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;400;700&display=swap');

.markdown-body {
  font-family: Quicksand, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

.hljs-string,
.hljs-subst,
.hljs-regexp {
  color: rgb(133 135 226);
}

@media (max-width: 500px) {
  * {
    font-size: 0.9em;
  }
  .markdown-body {
    padding: 5px;
    line-height: 1.25;
  }
}
